<%= include('entity-management') %>

<!-- Renders the element description -->
<script type="text/tmpl" id="elements_title">
  <h2 class="entity-title"><%= t.aplicable_model_aspects.title %></h2>
</script>

<!-- Renders the element description -->
<script type="text/tmpl" id="elements_description">
  
  <%= t.aplicable_model_aspects.description %>

</script>

<!-- Renders the elements container -->
<script type="text/tmpl" id="elements_container_template">

  <table id="elements_table" class="table">
     <thead class="table-header">
       <tr>
         <th class="table-header-title" scope="col" style="width:50%"><%= t.aplicable_model_aspects.table.model.label %></th>
       </tr>
     </thead>
     <tbody id="elements_tbody" class="table-tbody">             
     </tbody>
  </table>

</script>

<!-- Renders one element in the elements list view -->
        
<script type="text/tmpl" id="elements_list_template">

    <tr class="table-row element-navigation-detail" rel="<%%= index %>" id="element_row_<%%=index%>">
      <td class="table-cell"><%%= entity.id %></td>
    </tr>

</script>

<!-- Renders one element in the element view (full detailed) -->

<script type="text/tmpl" id="element_template">

</script>

<!-- Renders the form to edit an element -->

<script type="text/tmpl" id="element_template_form">
              
     <form name="element">
        
        <div class="form-fields">        
          <div class="formrow">
            <label for="id" class="fieldtitle"><%=t.aplicable_model_aspects.form.model.label%> <span class="mandatoryfield">*</span></label>
            <input type="text" maxlength="20" id="id" name="id" class="fieldcontrol" <%% if (entity) { %> value="<%%= entity.id %>" <%% } %> />
          </div>                
        </div>
     
        <%% if (entity) { %>
          <%= edit_element_form %>
        <%% } else { %>
          <%= new_element_form %>
        <%% } %> 

        <div class="bottom-navigation-bar navigation-bar">
             <div class="navigation-bar-crud-buttons">
                <%% if (entity) { %>
                  <input type="submit" class="update-entity-button action-button entity-management-button" value="<%= t.entitymanagement.update%>"/>
                <%% } else { %>
                  <input type="submit" class="create-entity-button action-button entity-management-button" value="<%= t.entitymanagement.create%>"/>
                <%% } %>
             </div>
        </div>
     
     </form>
     
</script>

<%= element_form_extension %>
