<%= include('entity-management') %>

<script type="text/tmpl" id="elements_title">
  <h2 class="entity-title">Aspect configuration</h2>
</script>

<script type="text/tmpl" id="elements_description">

  <p>Aspect configuration. The following parameters can be customized for the aspect</p>

</script>

<!-- Renders the elements container -->
<script type="text/tmpl" id="elements_container_template">

</script>

<!-- Renders one element in the elements list view -->
        
<script type="text/tmpl" id="elements_list_template">

</script>

<!-- Renders one element in the element view (full detailed) -->

<script type="text/tmpl" id="element_template">

</script>

<!-- Renders the form to edit an element -->

<script type="text/tmpl" id="element_template_form">              
     <form name="element">
        <div class="form-fields">
           <% if aspect_config_form.to_s.strip.length > 0 %>
              <%= aspect_config_form %>
           <% end %>
        </div>
        <div class="bottom-navigation-bar navigation-bar">
             <div class="navigation-bar-nav-buttons">
                <input type="submit" class="update-entity-button action-button entity-management-button" value="Update"/>
             </div>
        </div>
     </form>
</script>

<%= aspect_config_form_extension %>

<script type="text/javascript">

require(['YSDEntityManagement', 'YSDEntityManagementComplementHooks', 'jquery', 'jquery.ui'], function(EntityManagement, EntityManagementComplementHooks, $) {
 
  function AspectConfigurationHook() {
 	   
    this.entityKey = function(entity) {
      return null;
    }

    this.onEdit = function(entity) {
       this.configForm(entity);
    }

    this.onNew = function() {
       this.configForm(null);
    }

    this.configForm = function(entity) {
      $('.top-navigation-bar').hide();
    }

  };
  
  var urls = { 
  	           get_url    : '<%=get_url%>',
  	           update_url : '<%=update_url%>'
  	         };

  var aspectConfigurationHook = new AspectConfigurationHook();

  var hooks = [aspectConfigurationHook];
  hooks = hooks.concat(EntityManagementComplementHooks.complements);

  var aspectConfigurationManager = new EntityManagement(urls, 'aspect configuration', 1, hooks,
           {url_base: '<%=url_base%>', search_params : { destination: '<%=url_destination%>' }, action: 'edit'}); 
   
});
  
</script>
